<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}<br>
        <img src="/img/weather.png">
        <p>This web app is made by Abhishek Pandey. It uses services from mapbox.com and darksky.</p>
    </div>
    
    {{>footer}}
</body>

</html>