    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Location</label>
                <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="location">
                </div>
                <button type="submit" class="btn btn-primary mb-2 submit">Search</button>
            </div>
        </form>
        <p id="msg1">

        </p>
        <p id="msg2"></p>
    </div>

    {{>footer}}

    
    <script src="/js/app.js"></script>
</body>

</html>